<div class="header">
  <div class="header-stripe"></div>
  <div class="container">
    <div class="row np-top np-bottom pull-right">
      <div class="logo">
        <a href="{{ site.baseurl }}">Asana</a>
      </div>
      <div id="tabs">
    		<ul class="nav-tabs">
          <li{% if page.section == 'work' %} class="active"{% else %} class="pull-right"{% endif %}><a href="{{ site.baseurl }}">Work</a></li>
          <li{% if page.section == 'about' %} class="active"{% else %} class="pull-right"{% endif %}><a href="{{ site.baseurl }}about">About</a></li>
    		</ul>
      </div>
    </div>
  </div>
</div>
