<li{% if page.title == 'Illustrations' %} class="nav-tree-node-active"{% endif %}><a href="{{ site.baseurl }}resources/illustrations/">Illustrations</a></li>
<li{% if page.title == 'Keynote template' %} class="nav-tree-node-active"{% endif %}><a href="{{ site.baseurl }}resources/keynote-template/">Keynote template</a></li>
<li{% if page.title == 'Prototyping' %} class="nav-tree-node-active"{% endif %}><a href="{{ site.baseurl }}resources/prototyping/">Prototyping</a></li>
<li{% if page.title == 'Sketch' %} class="nav-tree-node-active"{% endif %}><a href="{{ site.baseurl }}resources/sketch/">Sketch</a></li>
