

/* Sidebar */

.main-content {
  margin: 72px 64px 16px 64px;
}

.project-header {
  background: $gray-1;
  border-bottom: 1px solid $gray-3;
  height: 72px;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 4px rgba($gray-10, 0.08);
  z-index: 99;
}

.left-side {
  margin-left: 24px;
  display: inline-block;
  height: 72px;
}
.right-side {
  display: inline-block;
  float: right;
  margin-right: 64px;
  position: relative;
  height: 72px;
}

.hamburger-menu {
  display: inline-block;
  clear: both;
  width: 16px;
  top: 6px;
  position: relative;
}
.project-title {
  margin: 12px 0 3px 40px;
  display: inline-block;
}
.project-title > h2 {
  margin: 0;
}
.project-nav > ul > a > li {
  display: inline-block;
  margin-right: 20px;
}
.project-nav > ul > a {
  color: $gray-8;
}
.project-nav > ul > a:hover > li {
  color: $gray-9;
  border-bottom: 2px solid $gray-9;
  padding-bottom: 8px;
}
li.project-item-selected {
  font-weight: 500;
  color: $darkCoral;
  border-bottom: 2px solid $darkCoral;
  padding-bottom: 8px;
}

.project-share {
  height: 32px;
  display: inline-block;
  border-right: 1px solid $gray-4;
  padding-right: 24px;
  margin-top: 18px;
}
.project-share > button {
}
.project-search {
  height: 72px;
  width: 140px;
  margin-left: 24px;
  margin-right: 24px;
  display: inline-block;
  color: $gray-8;
}
.avatar-container {
  display: inline-block;
  position: relative;
  top: 12px;
}
.profile-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-image: url('../images/avatar.jpg');
  background-size: contain;
  display: inline-block;
  cursor: pointer;
}

.profile-avatar-24 {
  height: 24px;
  width: 24px;
  margin-right: 8px;
  position: relative;
  top: 3px;
}
.assignee-name {
  display: inline-block;
  position: relative;
  top: -5px;
}

.section-header {
  font-size: 16px;
  letter-spacing: -0.2px;
  color: $gray-10;
}
.table-headers {
  font-size: 12px;
  letter-spacing: -0.1px;
  top: 4px;
  position: relative;
}

a.table-task {
  color: $gray-10;
}
a.table-task:hover {
  color: $darkTeal;
  text-decoration: none;
}

/* Task details pane */

.task-details-pane {
  border-left: 1px solid $gray-3;
  height: 100%;
  padding: 24px 0 0 32px;
}

.selected-cell-1 {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.selected-cell-4 {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.selected-cell-2 {
  color: $darkTeal;
}
.selected-cell-1,
.selected-cell-2,
.selected-cell-3,
.selected-cell-4 {
  background: $lightTeal;
}

.more-menu-container {
  display: inline-block;
  position: relative;
  top: 12px;
}
.icon-more-menu {
  height: 32px;
  width: 20px;
  background-image: url('../images/icons/icon-20-more.png');
  background-size: contain;
  display: inline-block;
  cursor: pointer;
}
.icon-more-menu:hover,
.icon-more-menu:active {
  background-image: url('../images/icons/icon-20-more-dark.png');
}



/* Buttons */

.button {
  height: 32px;
  padding: 4px 12px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: -0.1px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  background: $white;
  border: 1px solid $gray-4;
  color: $gray-8;
}
.button:hover {
  background: $gray-1;
  border-color: $gray-5;
  color: $gray-10;
}

.button-primary {
  background: $teal;
  border-color: $teal;
  color: $white;
}
.button-primary:hover {
  background: $darkTeal;
  border-color: $darkTeal;
  color: $white;
}

.pull-right {
  float: right;
  margin: 0 4px;
}

.add-new-button {
  display: inline-block;
  float: right;
}
.button-add-new {
  background: linear-gradient(45deg, #ff5263 0%, #ff7381 60%, #fcbd01 115%);
  color: $white;
  border: none;
}
.button-add-new:hover {
  background: linear-gradient(to top right, #ff1f35, #ff4053 35%, #c99701);
  color: $white;
  border: none;
}


/* Check circle button */

button.checkbox {
  transition: width 0.1s ease-out, height 0.1s ease-out;
  width: 20px;
  height: 20px;
  background-color: #FFF;
  border: 2px solid $gray-4;
  border-radius: 100px;
  cursor: pointer;
  align-self: center;
  padding: 0px;
  outline: none;
  position: relative;
  top: -1px;
  margin: 12px 0 12px 12px;
  display: inline-block;
}

button.checkbox:hover {
    width: 20px;
    height: 20px;
    visibility: visible;
    border: 2px solid $green;
    background-image: url("../images/icons/checkmark-green@2x.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

button.checkbox.selected {
    width: 20px;
    height: 20px;
    background-color: $green;
    border: 2px solid $green;
    background-image: url("../images/icons/checkmark-white@2x.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.task-list-item {
  width: 38px;
}
.task-title {
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 22px;
  max-width: 200px;
  text-align: left;
}
.task-title-checked {
  color: $gray-6;
}

tr.cell-row:hover {
  cursor: pointer;
}

tr.cell-row:hover > td.task-title {
  color: $darkTeal;
}
span.empty-cell {
  height: 2px;
  width: 16px;
  background: $gray-4;
  top: -2px;
  display: inline-block;
  position: relative;
}

/* Custom fields */

.custom-field {
  height: 20px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 100px;
  padding: 0 8px;
  line-height: 20px;
  color: $gray-8;
  background: $gray-2;
  width: auto;
  display: inline-block;
  white-space: nowrap;
}

.custom-field.custom-field-red {
  background: #FFD6D4;
  color: #7F263B;
}
.custom-field.custom-field-yellow {
  background: #FFF9CF;
  color: #7A722F;
}
.custom-field.custom-field-green {
  background: #D5F2C7;
  color: #1E661E;
}
.custom-field.custom-field-blue {
  background: #C7EEFF;
  color: #073B9D;
}
.custom-field.custom-field-purple {
  background: #E1E1FF;
  color: #3B3F9D;
}
