/* Colors  -------------------*/

/* Gray  -------------------*/
$white: #ffffff;
$gray-1: #f6f8f9; /* backgrounds */
$gray-2: #edf1f2;
$gray-3: #e0e6e8; /* borders */
$gray-4: #d5dce0;
$gray-5: #b7bfc6;
$gray-6: #9ca6af;  /* text */
$gray-7: #848f99; /* borders */
$gray-8: #646f79; /* text */
$gray-9: #222b37; /* sidebar */
$gray-10: #151b26; /* text */

$navy: #1b2430;

/* Green  -------------------*/
$darkGreen: #00bf9c;
$green: #25e8c8;
$brightGreen: #58f5d9;
$medGreen: #b0fff1;
$lightGreen: #e2fffa;
$fadedGreen: #b2ebe1; /* 30% of $darkGreen */

/* Blue  -------------------*/
$darkTeal: #008ce3;
$teal: #14aaf5;
$brightTeal: #32c1ff;
$medTeal: #95e0ff;
$lightTeal: #edf8ff;

/* Purple  -------------------*/
$darkPurple: #635ac7;
$purple: #796eff;
$brightPurple: #9287ff;
$medPurple: #aba3ff;
$lightPurple: #f0f0ff;

/* Gold  -------------------*/
$darkGold: #f2a100;
$gold: #fcbd01;
$brightGold: #ffe01b;
$medGold: #fff78f;
$lightGold: #fffede;

/* Coral  -------------------*/
$darkCoral: #ed4758;
$coral: #ff5263;
$brightCoral: #ff7381;
$medCoral: #FF9CA5;
$lightCoral: #ffedef;
