<!DOCTYPE html>
<html>

    {% include head.html %}

<body class="drawer drawer--left">
    <div class="container main-section">
      <div class="row">
        <div class="col project-header">
          <div class="left-side">
            <header role="banner">
              <button type="button" class="drawer-toggle drawer-hamburger">
                <span class="drawer-hamburger-icon"></span>
              </button>
              <nav class="drawer-nav" role="navigation">
                <ul class="drawer-menu">
                  <li><a class="drawer-brand" href="#">Brand</a></li>
                  <li><a class="drawer-menu-item" href="#">Nav1</a></li>
                  <li><a class="drawer-menu-item" href="#">Nav2</a></li>
                </ul>
              </nav>
            </header>
            <div class="project-title">
              <h2>Target Marketing Launch</h2>
            </div>
            <div class="project-nav">
              <ul>
                <a href="#"><li class="project-item-selected">List</li></a>
                <a href="#"><li>Timeline</li></a>
                <a href="#"><li>Calendar</li></a>
                <a href="#"><li>Files</li></a>
                <a href="#"><li>Conversations</li></a>
              </ul>
            </div>
          </div>
          <div class="right-side">
            <div class="project-share">
              <button type="button" name="button" class="button button-secondary">Share</button>
            </div>
            <div class="project-search">
              Search...
            </div>
            <div class="profile-avatar">

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col main-content">
            {{ content }}
        </div>
      </div>
    </div>

</body>

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<script src="{{ site.baseurl }}js/jquery.js"></script>
<script src="{{ site.baseurl }}js/main.js"></script>
<!-- iScroll -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<!-- drawer.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>

</html>
